*{
    margin: 0;
    padding: 0;
}

.container{
    
   
    width: 35em;
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    padding: 10px;
    
    
}

body{
    height:100vh;
    background-image:url(./img/1894635.gif);
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.values{
    display: flex;
    justify-content: center;
    align-items: center;
}
.values input{
   width: 70%;
   height: 45px; 
   font-size: large;
   padding: 12px;
   box-sizing: border-box;
   box-shadow:3px 3px 2px; 
   border-radius: 6px;
   background-color:rgba(230, 341, 200, 1) ;
   font-family: 'Press Start 2P', cursive;
   opacity: 0.9;
   
}

#btn{
    width: 90px;
    border-radius: 10px;
    height:45px;
    font-size: x-large;
    font-family: 'Megrim', cursive;
    background-color:rgba(230, 341, 200, 1);
    margin-left: 15px;
    outline: none;
    box-shadow:3px 3px 2px;
    text-shadow: 2px 2px white;
    font-weight: bolder;



